body{
    overflow: hidden;
}
.back{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1000;
    
}
.back > img{
    width: 1600px;
}


.title{
    position: relative;
}
.profile{
    margin-left:15%;
}
.profile > .title > img{
    width: 150px;
}

.profile > .title > .text{
    position: absolute;
    top:45%;
    left: 2.5%; 
    font-size: 2rem;
    font-weight: 500;
    
}

.profile .name > .kr{
    margin-top: 1%;
    font-size: 5rem;
}

.profile .name > .en{
    font-size: 1.2rem;
    margin-top: 6%;
    margin-left: 1%;
}

.profile .info{
    line-height: 30px;
    margin-top: .5%;
    margin-left: 15px;
}

.skills{
    position: relative;
    margin-left:10%; 
}

.skills > .title > img{
    width: 150px;
    margin-left: 60%;
    margin-top: -20%;
}

.skills > .title > .text{
    margin-top: -1.6%;
    margin-left: 60%;
    position: absolute;
    top:20%;
    left: 2.5%; 
    font-size: 2rem;
    font-weight: 500;
}

.skills > .photo{
    margin-left: 60%;
    margin-top: 10%;    
}

.skills > .photo >img:not(:nth-child(1)){
    margin-left: 40px;
}

.chart{
    position: absolute;
    left: 64.5%;
    top: 65%;
}

.cer > .title > img, .edu > .title > img{
    width: 200px;
    margin-top: -20%;
}

.cer{
    position: relative;
    margin-top: -4.5%;
    margin-left:23%; 
}

.cer > .title > .text{
    position: absolute; 
    top: -150%;
    left: 2%;
    font-size: 2rem;
    font-weight: 500;
}
.cer > .text{
    margin-top: 30px;
    margin-left: 15px;
}

.edu > .title > img{
    width: 200px;
    margin-left: 60%;
    margin-top: -20%;
}

.edu > .title > .text{
    margin-top: -2%;
    margin-left: 60%;
    position: absolute;
    top:20%;
    left: 2.5%; 
    font-size: 2rem;
    font-weight: 500;
}
.edu{
    position: relative;
    margin-left: 11%;
    margin-top: -29%;
}

.edu > .text{
    margin-top: 20px;
    margin-left: 60.7%;
}

.edu > .text >ul{
    line-height: 35px;
}

.edu > .text >ul > .num{
    font-weight: 600;
}

.edu > .text >ul > .memo{
    margin-left: 15px;
}

.white-1{
    width: 50px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: 65%;
    left: 63%;
    z-index: 1000;
}
.white-2{
    width: 1px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 67.2%;
    left: 66.1%;
    z-index: 1000;
}

.white-3{
    width: 500px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 76.4%;
    left: 66.1%;
    z-index: 1000;
}

.white-4{
    width: 1px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: 65.1%;
    left: 66.1%;
    z-index: 1000;
}
