
.back{
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1000;
}
.back > img{
    width: 1600px;
}


.title{
    position: relative;
}

.profile > .title > img{
    width: 150px;
}

.profile > .title > .text{
    position: absolute;
    top:20%;
    left: 2.5%; 
    font-size: 2rem;
    font-weight: 500;
}

.profile .name > .kr{
    margin-top: -1%;
    font-size: 5rem;
}

.profile .name > .en{
    font-size: 1.2rem;
    margin-top: 4%;
    margin-left: 1%;
}

.profile .info{
    line-height: 30px;
    margin-top: -3.5%;
    margin-left: 15px;
}

.skills{
    position: relative;
}

.skills > .title > img{
    width: 150px;
    margin-left: 60%;
    margin-top: -20%;
}

.skills > .title > .text{
    margin-top: -2%;
    margin-left: 60%;
    position: absolute;
    top:20%;
    left: 2.5%; 
    font-size: 2rem;
    font-weight: 500;
}

.skills > .photo{
    margin-left: 60%;
    margin-top: 9%;    
}

.skills > .photo >img:not(:nth-child(1)){
    margin-left: 40px;
}

.chart{
    position: absolute;
    left: 60%;
    top: 68%;
}

.cer > .title > img{
    width: 200px;
    margin-top: -20%;
}

.cer{
    position: relative;
    margin-top: -4.5%;
}

.cer > .title > .text{
    position: absolute; 
    top: -90%;
    left: 2%;
    font-size: 2rem;
    font-weight: 500;
}
.cer > .text{
    margin-top: 10px;
    margin-left: 15px;
}