.title{
    position: relative;
}

.title > img{
    width: 350px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.cover{
    margin-top: 2%;
}

.tjs{
    opacity: .5;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}





form{
    position: absolute;  
    margin-top: -22.5%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.name > input, .email > input, .submit > input{
    background-color: transparent;
    width: 500px;
    border: none;
    padding-top: 50px;
    outline: none;
    
}
.body {
    margin-top: 20px;
    width: 500px;
    height: 300px;
    
}
.body > textarea {
    border: none;
    resize: none;
    outline: none;
    line-height: 70px;
    font-size: 20px;
    background-color: transparent;
}

.submit > input{
    font-size: 1.2rem;    
    opacity: .6;
    cursor: pointer;
}

.submit{
    
    position: relative;
}

.submit img{
    position: absolute;
    width: 100px;
    height: 4px;
    margin-top: 14%;
    left: 50%;
    transform: translateX(-50%);
    
}

.number {
    margin-left: 15%;
    font-size: 15px; 
    font-weight: 500;
}

.number > li:nth-child(2){
    margin-left: 25px;
}

.number > li:nth-child(3){
    margin-left: 25px;
}
.number  .bold{
    font-weight: 900;
}
