
.top-bar .logo .st0 {
   fill: #000000;
   opacity:1;
}

.top-bar .logo .st1 {
   fill: none;
   stroke: #000000;
   stroke-width: 21;
   stroke-miterlimit: 10;
   opacity: 1;

}

.top-bar .logo .st2 {
   fill: none;
   stroke: #000000;
   stroke-width: 21;
   stroke-linecap: round;
   stroke-miterlimit: 10;
   opacity:1;
}
.left-menu-box-1{
   left:3%;
}

.left-menu-box-1 ul>li>a {
   font-size: 2rem;
   color: black
  
}
.left-menu-box-1>ul>li:nth-child(3)>a>img {
   width: 35px;
}

.left-menu-box-1 >ul ul {
   display: none;
}