/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

/* 라이브러리 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}



.img-box>img {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.margin-0-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0>* {
  line-height: normal;
}

.width-30px {
  width: 30px;
}

.width-35px {
  width: 35px;
}

.width-40px {
  width: 35px;
}

.width-45px {
  width: 35px;
}

.width-50px {
  width: 50px;
}

.width-80px {
  width: 80px;
}

.width-100px {
  width: 100px;
}

.width-100p {
  width: 100%;
}

.width-60p {
  width: 60%;
}

.width-55p {
  width: 55%;
}

.width-50p {
  width: 50%;
}

.width-45p {
  width: 45%;
}

.width-40p {
  width: 40%;
}

.width-30p {
  width: 30%;
}

.width-35p {
  width: 35%;
}

.width-100p-except-30px {
  width: calc(100% - 30px);
}

.width-100p-except-35px {
  width: calc(100% - 35px);
}

.width-100p-except-40px {
  width: calc(100% - 40px);
}

.width-100p-except-50px {
  width: calc(100% - 50px);
}

.width-100p-except-80px {
  width: calc(100% - 80px);
}

.width-100p-except-100px {
  width: calc(100% - 100px);
}

.height-100p {
  height: 100%;
}

.height-50p {
  height: 50%;
}

.border-box {
  box-sizing: border-box;
}

.font-size-dot-8rem {
  font-size: .8rem;
}

.table-row {
  display: table;
}

.table-row.row::after {
  display: inline;
  clear: non;
}

.table-row>.cell {
  float: none;
  display: table-cell;
}

.border-red {
  border: 3px solid red;
}

/* 라이브러리 - x */
*>.flex {
  display: flex;
}

*>.flex-column-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

*>.flex-grow-1 {
  flex-grow: 1;
}

*>.flex-di-co {
  display: flex;
  flex-direction: column;
}

*>.flex-di-row {
  display: flex;
  flex-direction: row;
}


*>.flex-jc-end {
  display: flex;
  justify-content: flex-end;
}

*>.flex-jc-sa {
  display: flex;
  justify-content: space-around;
}

*>.flex-jc-sb {
  display: flex;
  justify-content: space-between;
}

*>.flex-jc-s {
  display: flex;
  justify-content: flex-start;
}

*>.flex-jc-c {
  justify-content: center;
}

*>.flex-ai-c {
  display: flex;
  align-items: center;
}

*>.flex-as-c {
  align-self: center;
}

*>.flex-row-nowrap {
  flex-direction: row;
  flex-wrap: nowrap;
}

*>.flex-row-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

*>.flex-ch-basis-0 {
  display: flex;
}

.flex-ch-basis-0>* {
  flex-basis: 0;
}

*>.flex-1-0-0 {
  flex: 1 0 0;
}

/*배경 동영상*/

.con{
  max-width: 1350px;
}

.con-1{
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.section{
  height:100vh;
  position:relative;
  z-index:0;
  color:white;
}

.section .bg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

.section1 .bg > video {
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
}
/*탑바*/
.top-bar {
  z-index: 50000;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  color:white;
  height: 90px;
  border-bottom: .5px solid rgba(255, 255, 255, .3);
}

/* 탑바 - 메뉴 박스 1 */
.top-bar > .menu-box-1 {
  
  height: 100%;

}
.top-bar > .menu-box-1 > ul {
  height: 100%;
  
}
.top-bar > .menu-box-1 > ul > li{
  padding: 0 40px;
  height: 100%;
  margin-top: 5px;
  

}
.top-bar > .menu-box-1 > ul > li {
  position:relative;
  
}

.top-bar > .menu-box-1 > ul > li > a {
  padding:25px;
  font-weight:500;
  font-size:1.18rem;
  position:relative;
}

.top-bar > .menu-box-1 > ul > li > a > span {
  position:relative;
}

.top-bar > .menu-box-1 > ul > li > a > span::after {
  content:"";
  position:absolute;
  top:100%;
  left:50%;
  transform:translateX(-50%);
  width:0%;
  height:4px;
  background-color:rgba(51, 102, 255, .8);
  transition:width 0.3s;
}

.top-bar > .menu-box-1 > ul > li:hover > a > span::after {
  width:100%;
}

.top-bar > .menu-box-1 > ul ul {
  position:absolute;
  color:black;
  width:calc(100% - 75px);
  height:0;
  overflow-y:hidden;
  transition:height 0s, padding-top 0.5s;
  padding-top:0px;
  
}

.top-bar > .menu-box-1:hover > ul ul {
  padding-top:10px;
  
}

.top-bar > .menu-box-1:hover > ul ul, .top-bar > .menu-box-1:hover ~ .menu-box-1-sub-menu-background {
  height:170px;
}
.top-bar > .menu-box-1 > ul ul > li{
  line-height: 50px;
  text-align: center;
}
.top-bar > .menu-box-1 > ul ul > li > a {
  font-weight:400;
  font-size: 16px;
  color: #767676;
  

}
.top-bar > .menu-box-1 > ul:hover>li> a{
color: rgb(148, 148, 148);
}
.top-bar > .menu-box-1 > ul>li:hover> a {
  color: rgba(51, 102, 255, .8);
}
.top-bar > .menu-box-1 > ul ul > li:hover > a {
  color: rgba(51, 102, 255, .8);
  font-weight: bold;
}

.top-bar > .menu-box-1-sub-menu-background {
  position:absolute;
  top:100%;
  left:0;
  width:100%;
  background-color:white;
  z-index:-1;
  height:0;
}

.top-bar > .menu-box-1:hover > ul ul, .top-bar > .menu-box-1:hover ~ .menu-box-1-sub-menu-background {
  transition:height 0.3s, padding-top .6s;
}

.top-bar > .menu-box-1-hover-background {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:white;
  z-index:-1;
  display:none;
}

.top-bar > .menu-box-1:hover ~ .menu-box-1-hover-background {
  display:block;
}

/* 탑바 - 문의하기 */
.top-bar > .go-question {
  padding:3px 8px;
  border:1px solid white;
  margin-right:30px;
  transition:background-color 0.3s, color 0.3s;
  font-weight:500;
}

.top-bar > .go-question:hover {
  background-color:white;
  color:black;
}

.top-bar > .menu-box-1:hover {
  color:black;
}

.top-bar > .menu-box-1:hover ~ .go-question {
  color:black;
  border-color:black;
}

/* 탑바 - 로고 */
.top-bar > .logo {
  margin-left:30px;
}

.top-bar > .logo > img:last-child {
  display:none;
}

.top-bar > .menu-box-1:hover ~ .logo > img:last-child {
  display:block;
}

.top-bar > .menu-box-1:hover ~ .logo > img:first-child {
  display:none;
}

.top-bar > .menu-box-1:hover {
  background-color:white;
}

.top-bar>.login{
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  position: absolute;
  
}

.top-bar .user{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top:2px;
}

.top-bar .v{
  width: 13px;
  height: 13px;
  margin-left: 10px;
  margin-top: 6px;
}

.top-bar>.login>li:first-child{
  margin-right: 40px;
}

.top-bar>.login>li:last-child>a>.ticket{
  width: 30px;
  height: 22px;
  margin-top:3px;
  margin-right: 10px;
}
/*txt*/


@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  text-align: center;
  color: white;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vmin;
  
}

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.text-top > div {
  font-size: 3vmin;
  padding: 2vmin 0;
  position: absolute;
  left: 13%;
  text-align: center;
}

.text-bottom > div {
  font-size: 7vmin;
  font-weight: bold;
  padding: 2vmin 0;
  position: absolute;
  left: 5%;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: .7vmin solid rgba(51, 102, 255, .8);
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: white;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

/*section2*/


.section .bg .img-box{
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section2 .bg .img-box{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/aquarium/stingray-4392776_1920.jpg);
}
.section .bg .img-box>.black{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .3;
}

.section2 .title{
  position: absolute;
  overflow: hidden;
  top: 16%;
  font-size: 5rem;
  font-weight: bold;  
  opacity: 0;
}

.section2.active .title{
  transition: top 1s, opacity 1s;
  transition-delay: .5s;
  top: 11%;
  opacity: 1;
}



.section3 .title{
  position: absolute;
  overflow: hidden;
  top: 22%;
  font-size: 5rem;
  font-weight: bold;  
  opacity: 0;
}

.section3.active .title{
  transition: top 1s, opacity 1s;
  transition-delay: .5s;
  top: 17%;
  opacity: 1;
}


.section4 .title{
  position: absolute;
  overflow: hidden;
  top: 19%;
  font-size: 5rem;
  font-weight: bold;  
  opacity: 0;
}

.section4.active .title{
  transition: top 1s, opacity 1s;
  transition-delay: .5s;
  top: 14%;
  opacity: 1;
}


.section2 .cover{
  position: absolute;
  top: 25%;
}

.section2 .pro .box{
  position: relative;
  width: 330px;
  height: 330px;
  border: 1px solid rgba(255, 255, 255, .3);
  background-color: rgba(0, 0, 0, .3);
  text-align: center;
  margin-top: 10%;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (max-width: 1100px) {
  .section2 .pro .box {
    width: 250px;
  height: 250px;
  }
}

.section2 .pro .box:hover{
  background-color: rgba(255, 255, 255, .8);
  
  
}

.section2.active .pro .box-1{
  transition: margin-top 1s, opacity 1s;
  margin-top: 0%;
  transition-delay: .5s;
  opacity: 1;
}

.section2.active .pro .box-2{
  transition: margin-top 1s, opacity 1s;
  margin-top: 0%;
  transition-delay: .6s;
  opacity: 1;
}
.section2.active .pro .box-3{
  transition: margin-top 1s, opacity 1s;
  margin-top: 0%;
  transition-delay: .7s;
  opacity: 1;
}
.section2.active .pro .box-4{
  transition: margin-top 1s, opacity 1s;
  margin-top: 0%;
  transition-delay: .8s;
  opacity: 1;
}
.section2.active .pro .box-5{
  transition: margin-top 1s, opacity 1s;
  margin-top: 0%;
  transition-delay: .9s;
  opacity: 1;
}
.section2.active .pro .box-6{
  transition: margin-top 1s, opacity 1s;
  margin-top: 0%;
  transition-delay: 1s;
  opacity: 1;
}
.section2.active .pro .box-7{
  transition: margin-top 1s, opacity 1s;
  margin-top: 0%;
  transition-delay: 1.1s;
  opacity: 1;
}
.section2.active .pro .box-8{
  transition: margin-top 1s, opacity 1s;
  margin-top: 0%;
  transition-delay: 1.2s;
  opacity: 1;
}

.section2 .pro .box>.tit{
  margin-top: 50%;
  font-size: 1.5rem;
  transition: margin-top .5s;
}
.section2 .pro .box:hover p{
  color: black;
}
.section2 .pro .box:hover .tit{
  margin-top: 35%;
  transition: margin-top .5s;
  color: black;
  font-weight: bold;
}

.section2 .pro .box img{
  position: absolute;
  top: 25%;
  width: 60px;
  left: 50%;
  transform: translateX(-50%);
  transition: top .5s;
}

.section2 .blue{
  opacity: 0;
}
.section2 .box:hover img{
  opacity: 0;
}
.section2 .box:hover .blue{
  opacity: 1;
}



.section2 .pro .box:hover img{
  top: 10%;
  transition: top .5s;
}

.section2 .pro .box-2 img{
  width: 55px;
}
.section2 .pro .box-3 img{
  width: 55px;
  top: 26%;
}
.section2 .pro .box-5 img{
  width: 50px;
}
.section2 .pro2 .box-6:hover img{
  top: 14%;
}
.section2 .pro .box-6 img{
  width: 70px;
  top: 30%;
}
.section2 .pro .box-7 img{
  width: 45px;
}

.section2 .pro .box>p{
  margin-top: 5px;
  font-size: .8rem;
  color: white;
  opacity: .7;
  
}

.section2 .pro .box:hover>.time{
  opacity: 1;
  color: black;
  font-weight: 500;

}

.section2 .pro .box>.time{
  margin-top: 40px;
  transition: opacity .5s;
  opacity: 0;

}
.section2 .pro1 .box:nth-child(4){
  background-color: rgba(51, 102, 255, .8);
  
}
.section2 .pro .box>.text{
  margin-top: 50%;
  transform: translateY(-50%);
}

.section2 .pro2 .box-6:hover>.price{
  opacity: 1;
  margin-top: 0%;
  transition: margin-top .5s, opacity .5s;
  color: black;
}

.section2 .pro2 .box-6>.price{
  font-size:13px;
  margin-top: 35px;
  opacity: 0;
}
.section2 .pro2 .box-7>.dd{
  font-size:13px;
  margin-top: 35px;
  opacity: 0;
}
.section2 .pro2 .box-7:hover>.dd{
  margin-top: 20px;
  color: black;
  opacity: 1;
}

.section3 .bg .img-box{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/aquarium/craig-lovelidge-5iiI5wVXY8M-unsplash.jpg);
}

.section4 .bg .img-box{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/aquarium/animal-21668_1920.jpg);
}

.section3 .cover{
  position: absolute;
  top: 37%;
}

.section3 .box{
  position: relative;
  width: 420px;
  height: 420px;
  border: 1px solid rgba(255, 255, 255, .3);
  background-color: rgba(0, 0, 0, .3);
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
  margin-top: 10%;
}

.section3.active .box:nth-child(1){
  transition: margin-top 1s, opacity 1s;
  margin-top: 0%;
  transition-delay: .5s;
  opacity: 1;
}
.section3.active .box:nth-child(2){
  transition: margin-top 1s, opacity 1s;
  margin-top: 0%;
  transition-delay: .7s;
  opacity: 1;
}
.section3.active .box:nth-child(3){
  transition: margin-top 1s, opacity 1s;
  margin-top: 0%;
  transition-delay: .9s;
  opacity: 1;
}

.section3 .box:not(:nth-child(1)){
  margin-left: 30px;
}

.section3 .box .tit{
  font-size: 2rem;
  font-weight: bold;
  margin:10% 0;
}
.section3 .box3 .bottom {
  margin-top:60px;
}

.section3 .box2 .bottom {
  margin-top:30px;
}
.section3 .box .bottom .over img{
  padding-top: 4px;
  padding-right: 5px;
  width: 29px;
  height: 19px;
}
.section3 .box .bottom .over .tic{
  font-size: 16px;
}
.section3 .box .bottom .over{
  border: 1px solid white;
  margin-left: 50px;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color .5s;
}
.section3 .box .bottom .over:hover{
  background-color: rgba(51, 102, 255, .8);
}


.section3 .box .bottom .over-2 img{
  padding-top: 4px;
  padding-right: 5px;
  width: 29px;
  height: 19px;
}
.section3 .box .bottom .over-2 .tic{
  font-size: 15px;
}
.section3 .box .bottom .over-2{
  border: 1px solid white;
  margin-left: 10px;
  padding: 9px 19px;
  border-radius: 25px;
  transition: background-color .5s;
}
.section3 .box .bottom .over-2:hover{
  background-color: rgba(51, 102, 255, .8);
}




.section3 .box .txt{
  margin-top: 50%;
  transform: translateY(-50%);
  margin-left: 60px;
  font-size: 20px;
}
.section3 .box .small .ds{
  margin-top: 35px;
  
}
.section3 .box .small{
  font-size: 15px;
}

.section3 .box .time .right{
  margin-left:75px;
}

.section3 .box2 .time .right{
  margin-left: 120px;
}
.section3 .box3 .time .right{
  margin-left: 100px;
}
.section3 .box1 .time .left li:nth-child(2){
  margin-bottom: 30px;
}

.section3 .box1 .time .right li:nth-child(2){
  margin-bottom: 30px;
}
.section3 .box3 .time{
  padding: 6% 0;
}

.section3 .box ul li{
  margin: 12px 0;
}

.section3 .box1 ul li{
  margin: 3px 0;
}




/* 오른쪽 네비 시작 */
#menu{
  position:fixed;
  top:50%;
  left: 91%;
  height: 40px;
  z-index: 70;
  width: 10%;
  padding: 0;
  margin:0;
  transform: translatey(-50%);
  color:white;
}

#menu > li {
  padding-top:5px;
}

#menu > li > a{
  opacity: 0;
}
#menu > li > div {
  width: 25px;
  height: 1.5px;
  margin:0 10px 0 10px;
  opacity: .3;
  background-color: white;
  
}
#menu > li.active > div {
  width: 70px;
  transition: width 1s;
  opacity: 1;
}

#menu > li.active > a {
  font-weight: bold;
  opacity: 1;
}
/* 왼쪽 네비 끝 */

.section4 .cover{
  overflow: hidden;
}
.section4 .cover .box{
  position: absolute;
  top: 33%;
  flex-grow:1;
  transition:transform 0.3s;
}
.section4 .box{
  position: relative;
  width: 500px;
  height: 500px;
  border: 2px solid rgba(255, 255, 255, .3);
  background-color: rgba(0, 0, 0, .3);
  cursor: pointer;
}

.section4 .box:nth-child(2){
  margin-left: 0%;
  transition: margin-left .5s, transform 0.3s;
}


.section4 .box:nth-child(3){
  transition: margin-left .8s, transform 0.3s;
  margin-left: 0%;
}
.section4 .box:nth-child(4){
  transition: margin-left 1.1s, transform 0.3s;
  margin-left: 0%;
}
.section4 .box:nth-child(5){
  transition: margin-left 1.4s, transform 0.3s;
  margin-left: 0%;
}

.section4 .box:nth-child(6){
  transition: margin-left 1.7s, transform 0.3s;
  margin-left: 0%;
}

[data-fullpage-anchor="anchor4"] .section4 .box:nth-child(2),
[data-fullpage-anchor="anchor5"] .section4 .box:nth-child(2) {  
  margin-left: 10%;
  
}
[data-fullpage-anchor="anchor4"] .section4 .box:nth-child(3),
[data-fullpage-anchor="anchor5"] .section4 .box:nth-child(3) {
  margin-left: 20%;
  
}
[data-fullpage-anchor="anchor4"] .section4 .box:nth-child(4),
[data-fullpage-anchor="anchor5"] .section4 .box:nth-child(4) {
  margin-left: 30%;
  
}
[data-fullpage-anchor="anchor4"] .section4 .box:nth-child(5),
[data-fullpage-anchor="anchor5"] .section4 .box:nth-child(5) {
  margin-left: 40%;
  
}
[data-fullpage-anchor="anchor4"] .section4 .box:nth-child(6),
[data-fullpage-anchor="anchor5"] .section4 .box:nth-child(6) {
  margin-left: 50%;
  
}



.section4 .box .img-box{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.section4 .box-1 .img-box{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/aquarium/pexels-andreas-l-3626111.jpg?dummy);
}
.section4 .box-2 .img-box{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/aquarium/pexels-ivy-son-3490958.jpg?dummy);
}
.section4 .box-3 .img-box{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/aquarium/glenn-haertlein-IpuuBrEPUVE-unsplash.jpg?dummy);
}

.section4 .box-4 .img-box{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/aquarium/daniel-corneschi-sVGnruulBcA-unsplash.jpg?dummy);
}
.section4 .box-5 .img-box{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/aquarium/pexels-kon-karampelas-3914166.jpg?dummy);
}
.section4 .box-6 .img-box{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/aquarium/pexels-phoebe-pinfold-3989684.jpg?dummy);
}

.section4  .box:hover ~ .box {
  transform:translateX(291px);
}
.section4 .box .fab{
  position: absolute;
  font-size: 2rem;
  top: 5%;
  left: 5%;
}
.section4 .box .half{
  opacity: 0;
  transition: opacity .5s;
  line-height: 40px;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 70%;
  height: 30%;
  width: 100%;
  
}


.section4 .box:hover .half{
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 70%;
  height: 30%;
  width: 100%;
  opacity: 1;
  transition: opacity .5s;
}
.section4 .box .half li{
  opacity: 0;
  transition: opacity .5s;
}
.section4 .box .half li>a{
  font-size: .9rem;
  padding: 2px 5px;
  border: .5px solid rgba(255, 255, 255, .5);
  border-radius: 30px;
  opacity: .8;
}

.section4 .box .half .tag>li:not(:nth-of-type(1)){
  margin-left: 5px;
}
.section4 .box:hover .half li{
  opacity: 1;
  transition: opacity .5s;
}

.section .half .write{
  padding-top: 20px;
  
}
.section4 .like .far{
  font-size: 1.3rem;
}
.section4 .story{
  position: relative;
  
  padding-left: 30px;
}

.section4 .like .far:not(.fir){
  margin-left: 15px;
}

.section5 .bottom{
  height: 130px;
  background-color: black;
  line-height: 30px;
}

.section5 .bottom .fir{
  padding-top: 20px;
  font-size: 15px;
  opacity: .8;
}
.section5 .bottom .fir>li:not(:nth-of-type(1)){
  margin-left: 17px;
}

.section5 .bottom .sec>li:not(:nth-of-type(1)){
  margin-left: 13px;
}


.section5 .bottom .sec{
  font-size: 14px;
  color: #767676;
}

.section5 .bottom .copy{
  font-size: 14px;
  color: #767676;
}

.section5 .bottom .sns{
  position: absolute;
  top: 40%;
  right: 13%;
  font-size: 1.8rem;
}

.section5 .bottom .sns i{
  margin: 0 10px;
}