/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

/* 라이브러리 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}

.img-box > img {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.margin-0-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0 > * {
  line-height: normal;
}

.width-30px {
  width: 30px;
}

.width-35px {
  width: 35px;
}

.width-40px {
  width: 35px;
}

.width-45px {
  width: 35px;
}

.width-50px {
  width: 50px;
}

.width-80px {
  width: 80px;
}

.width-100px {
  width: 100px;
}

.width-100p {
  width: 100%;
}

.width-60p {
  width: 60%;
}

.width-55p {
  width: 55%;
}

.width-50p {
  width: 50%;
}

.width-45p {
  width: 45%;
}

.width-40p {
  width: 40%;
}

.width-30p {
  width: 30%;
}

.width-35p {
  width: 35%;
}

.width-100p-except-30px {
  width: calc(100% - 30px);
}

.width-100p-except-35px {
  width: calc(100% - 35px);
}

.width-100p-except-40px {
  width: calc(100% - 40px);
}

.width-100p-except-50px {
  width: calc(100% - 50px);
}

.width-100p-except-80px {
  width: calc(100% - 80px);
}

.width-100p-except-100px {
  width: calc(100% - 100px);
}

.height-100p {
  height: 100%;
}

.height-50p {
  height: 50%;
}

.border-box {
  box-sizing: border-box;
}

.font-size-dot-8rem {
  font-size: 0.8rem;
}

.table-row {
  display: table;
}

.table-row.row::after {
  display: inline;
  clear: non;
}

.table-row > .cell {
  float: none;
  display: table-cell;
}

.border-red {
  border: 3px solid red;
}

/* 라이브러리 - x */
* > .flex {
  display: flex;
}

* > .flex-column-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

* > .flex-grow-1 {
  flex-grow: 1;
}

* > .flex-di-co {
  display: flex;
  flex-direction: column;
}

* > .flex-di-row {
  display: flex;
  flex-direction: row;
}

* > .flex-jc-end {
  display: flex;
  justify-content: flex-end;
}

* > .flex-jc-sa {
  display: flex;
  justify-content: space-around;
}

* > .flex-jc-sb {
  display: flex;
  justify-content: space-between;
}

* > .flex-jc-s {
  display: flex;
  justify-content: flex-start;
}

* > .flex-jc-c {
  justify-content: center;
}

* > .flex-ai-c {
  display: flex;
  align-items: center;
}

* > .flex-as-c {
  align-self: center;
}

* > .flex-row-nowrap {
  flex-direction: row;
  flex-wrap: nowrap;
}

* > .flex-row-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

* > .flex-ch-basis-0 {
  display: flex;
}

.flex-ch-basis-0 > * {
  flex-basis: 0;
}

* > .flex-1-0-0 {
  flex: 1 0 0;
}
.con-minwidth {
  min-width: 1300px;
}
.con {
  max-width: 1170px;
}
.top-bar {
  height: 170px;
  border-bottom: 1px solid #e5e5e5;;
}
.top-bar>.center>.logo{
    position: absolute;

}
.line {
  width: 1903px;
  height: 5px;
  background-color: #009223;
}
.center {
  margin-top: 35px;
}
.center > .side {
  width: 158.73px;
  height: 30px;
  left: 40%;
  top: 5px;
  position: relative;
}
.center > .side > ul > li > a {
  display: block;
  color: #666666;
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  height: 30px;
}
.menu-bar {
  position: relative;
}

.menu-bar > ul {
  width: 990px;
  text-align: center;
  
  margin-top:30px;
}
.menu-bar > ul ul {
  display: none;
}
.menu-bar:hover > ul ul {
  display: block;
}
.menu-bar > ul > li {
  float: left;
  width: 165px;
  position: relative;
}
.menu-bar > ul > li > a {
  font-weight: bold;
  letter-spacing: -0.04em;
  position: relative;
  z-index: 3;
  padding-top: 20px;
  display: block;
  font-size: 18px;
}
.menu-bar > ul > li:hover > a {
  color: #009223;
}

.menu-bar > ul > li {
  position: relative;
}
.menu-bar > ul > li > div {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.5s;
  overflow-y: hidden;
  z-index: 2000;
}
.menu-bar::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 100%;
  top: 100%;
  margin-top: 24px;
  left: 0;
  height: 0;
  transition: height 0.3s;
  z-index: 100;
}

.menu-bar:hover::before {
  height: 300px;
}
.menu-bar > ul > li > div > ul {
  padding-top: 0px;
  transition: padding-top 0.3s;
}
.menu-bar:hover > ul > li > div > ul {
  padding-top: 20px;
}
.menu-bar > ul > li > div > ul > li > a {
  font-size: 15px;
  color: #666666;
  padding: 8px 0 9px;
  display: block;
  letter-spacing: -0.05em;
}
.menu-bar > ul > li > div > ul > li:first-child > a {
  padding-top: 30px;
}
.menu-bar:hover > ul > li > div > ul > li > a {
  color: black;
}
.menu-bar:hover > ul > li > div {
  height: 220px;
  padding-bottom: 60px;
}
.menu-bar > ul > li > div > ul > li:hover > a {
  color: #009223;
  text-decoration: underline;
}
/*슬라이더*/

.my-slider-1 .item {
  height: 440px;
  width: 100%;
  background-color: red;
  position: relative;
  z-index: -2;
}
.my-slider-1 .item > .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.my-slider-1 .item > .background > div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.my-slider-1 > .owl-carousel.owl-theme > div.owl-dots {
  margin-top: 0;
  position: absolute;
  top: 85%;
  left: 75%;
  transform: translateX(-50%);
}

.my-slider-1 > .owl-carousel.owl-theme > div.owl-dots > div.owl-dot > span {
  transition: width 0.3s;
  width: 10px;
  height: 10px;
  background-color: white;
}

.my-slider-1
  > .owl-carousel.owl-theme
  > div.owl-dots
  > div.owl-dot.active
  > span {
  width: 35px;
  background-color: #ffc300;
}

.link {
  position: absolute;
  left: 50%;
  margin-top: -1.5%;
  z-index: 200;
}

.link > .box-1 {
  display: table-cell;
  vertical-align: bottom;
  height: 80px;
  background-color: #ffce32;
  width: 300px;
  border-radius: 30px 0 0 0;
}
.link > .box-1 > a > strong {
  color: #292929;
  display: block;
  font-size: 22px;
  font-weight: bold;
  padding: 27px 0 0 0;
}

.link > .box-2 {
  display: table-cell;
  vertical-align: bottom;
  height: 80px;
  width: 300px;
  background-color: #009223;
  border-radius: 0 0 30px 0;
}
.link > .box-2 > a > strong {
  color: #292929;
  display: block;
  font-size: 22px;
  font-weight: bold;
  padding: 27px 0 0 0;
  margin-left: 40px;
  margin-top: -5px;
  color: white;
}
.link > .box-1 > a {
  position: relative;
  margin-left: 30px;
  margin-top: -5px;
}

.link > .box-1 > a > img {
  width: 24px;
  height: 30px;
  top: 30px;
  margin-left: -130px;
  position: absolute;
}

.link > .box-2 > a {
  position: relative;
}

.link > .box-2 > a > img {
  width: 34px;
  height: 30px;
  top: 25px;
  margin-left: -150px;
  position: absolute;
}

.menu > .top {
  position: relative;
  margin-top: 10%;
}
.menu > .top > h2 {
  color: #292929;
  font-size: 40px;
  font-weight: bold;
  font-family: font_sw, sans-serif;
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/bul_tit.png);
  background-position-y: 12px;
  background-repeat: no-repeat;
  min-height: 60px;
  padding: 17px 0 0 25px;
  margin-bottom: 1px;
}
.menu > .top > ul {
  margin-top: 3.5%;
}
.menu > .top > ul > li {
  float: left;
  position: relative;
  margin-left: 23px;
  padding: 0 0 0 25px;
}

.menu > .top > ul > li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 13px;
  background-color: #dfdfdf;
  right: -20px;
  top: 35%;
  transform: translateY(-50%);
}
.menu > .top > ul > li > a {
  display: block;
  font-size: 16px;
  color: #666666;
  font-weight: 300;
  letter-spacing: -0.03em;
  font-weight: 500;
}
.slider-div{
    width: 100%;
    padding: 0 10px;
}
.slider-div>li>.img-box{
    width: 
}
.slider-div img{
    width: 260px;
    height: 182px;
    
}
.slider-div .prod-name{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .slider-div .prod-story {
    color: #666666;
    font-size: 13px;
  }
  .slider-div  li{
      position: relative;
    
        width: 260px;
        text-align: center;
  }
.prev{
    background-position: 0 0;
    left: 12%;
    width: 50px;
    height: 50px;
    background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/icon_event_slider_arr.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    overflow: hidden;
    font-size: 0;
    line-height: 0px;
    text-indent: -9999px;
    cursor: pointer;
  }
  .next{
    background-position: 100% 0;
    right: 12%;
    width: 50px;
    height: 50px;
    background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/icon_event_slider_arr.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    overflow: hidden;
    font-size: 0;
    line-height: 0px;
    text-indent: -9999px;
    cursor: pointer;
  }
  .next:hover{
    background-position: 100% 100%;
    right: 12%;
    width: 50px;
    height: 50px;
    background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/icon_event_slider_arr.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    overflow: hidden;
    font-size: 0;
    line-height: 0px;
    text-indent: -9999px;
    cursor: pointer;

  }

  .prev:hover{
    background-position: 0 100%;
    left: 12%;
    width: 50px;
    height: 50px;
    background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/icon_event_slider_arr.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    overflow: hidden;
    font-size: 0;
    line-height: 0px;
    text-indent: -9999px;
    cursor: pointer;
  }
  .slider-div li:hover .prod-name{
    font-size: 22px;
    margin-top: 10px;
  }

  .slider-div li:hover .prod-story{
    display: none;
}

.slider-div li:hover img{
    width: 340px;
    height: 238px;
    z-index: 2000;
}

.slider-div li::after{
    opacity: 0;
    content: '';
    background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/btn_more.png);
    background-repeat: no-repeat;
    width: 98px;
    height: 98px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -42px;
}

.slider-div li:hover::after{
    opacity: 1;
}

.section{
    width: 1280px;
    margin: 0 auto;
    padding: 80px 0;
}
.section>.top{
    overflow: hidden;
}
.section>.top>.blue{
    background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/bg_utilization.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    position: relative;
    margin-left: 55px;
    float: left;
}
.section>.top>.blue>p{
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.03em;
    position: absolute;
    left: 39px;
    top: 38px;
}

.section>.top>.blue>a{
    position: absolute;
    left: 41px;
    bottom: 42px;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 92px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition-duration: 0.2s;
}

.section>.top>.blue>a>span{
    display: block;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.section>.top>.orange{
    float: left;
    width: 825px;
    position: relative;
}

.section>.top>.orange>p{
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.03em;
    position: absolute;
    left: 410px;
    top: 38px;
}

.section>.top>.orange>a{
    position: absolute;
    left: 410px;
    bottom: 42px;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 128px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    transition-duration: 0.2s;
    cursor: pointer;
}

.section>.top>.orange>a>span{
    display: block;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.bottom{
    margin: 30px 0 0 55px;
    overflow: hidden;
}
.bottom>.new{
    background-color: #fff;
    width: 870px;
    height: 300px;
    border-radius: 30px 0 30px 0;
    position: relative;
    float: left;
}
.bottom>.new>.hd{
    position: absolute;
    top: 75px;
    left: 60px;
}
.bottom>.new>.hd>h2{
    color: #292929;
    font-size: 30px;
    font-weight: bold;
    font-family: font_sw;
    background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/bul_tit.png);
    background-repeat: no-repeat;
    min-height: 60px;
    padding: 17px 0 0 25px;
    margin-bottom: 1px;
}
.bottom>.new>.hd>p{
    text-align: center;
    line-height: 26px;
    letter-spacing: -0.04em;
}
.bottom>.new>.board{
    position: absolute;
    left: 350px;
    top: 60px;
}
.bottom>.new>.board>ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.bottom>.new>.board>ul>li:first-child{
    margin-top:0;
}
.bottom>.new>.board>ul>li{
    margin-top:21px;
}
.board>ul>li>a{
    display: inline-block;
    font-size: 16px;
    color: #292929;
    position: relative;
    letter-spacing: -0.04em;
    cursor: pointer;
}
.bottom>.new>.board>.more{
    display: inline-block;
    color: #999999;
    font-size: 14px;
    margin-left: 40px;
}
.board>ul>li>a:hover{
  content: '';
  height: 1px;
  left: 0;
  bottom: 1px;
  width: 0;
  background-color: #009223;
  position: absolute;
  transition-duration: 0.2s;
  color: #009223;
}

.bac{
    width: 100%;
    
    background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/bg_content.gif);
    background-repeat: repeat;
}




.quick-menu{
  height:150px;
  width:100%;
  
  background-color:white;
  margin-left:auto;
  margin-right:auto;
}
.quick-menu>nav>ul{
  margin-left:100px;
}
.quick-menu>nav>ul>li{
  width:25%;
}
.quick-menu>nav>ul>li>strong{
    color: #292929;
    font-size: 18px; 
    display: block;
    margin-top:-60px;
  margin-left:90px;
    letter-spacing: -0.04em;
    text-align: left;

}
.quick-menu>nav>ul>li>span{
    color: #999999;
    font-size: 13px;
    display: block;
    margin-top: 6px;
  margin-left:90px;
    letter-spacing: -0.02em;
    text-align: left;
}
.icon {
  margin-top:40px;
    width:70px;
    height:70px;
    background-image:url(http://subway.co.kr/images/main/icon_quickmenu.png);
  
}

.icon-2 {
    background-position: -70px 0px;
}

.icon-3 {
    background-position: -140px 0px;
}

.icon-4 {
    background-position: -210px 0px;
}

.footer{
  background-color:#292929;
  width:100%;
  height:150px;
  padding-bottom:10px;
  color:#666666;
  font-size:13.5px;
  position: relative;

  

}
.util-menu{
  padding:22px 0;
  margin-bottom:20px;
  
  
  
}
.util-menu>ul>li:not(:first-child){
  margin-left:20px;
}
.util-menu>ul>li:nth-child(2)>a{
    font-weight: bold;
    color: #bbbbbb;
}
.sns::after{
  content: '';
    width: 50px;
    height: 50px;
    display: block;
    opacity: 0;
    transition-duration: 0.3s;

}
.sns:hover::after{
  opacity: 1;
}
.sns{
  position: absolute;
  right: 20%;
  bottom: 30px;
  overflow: hidden;
  width: 50px;
  height: 50px;
}
.insta{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/icon_sns_instar.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-right: 60px;
}
.insta::after{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/icon_sns_instar.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.face{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/icon_sns_facebook.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.face::after{
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/subway/icon_sns_facebook.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.footer .line{
  content: '';
    position: absolute;
    left: 0;
    top: 59px;
    width: 100%;
    height: 1px;
    background-color: #3b3b3b;
}




/*sponser*/

.my-slider-2 .item {
  float: left;
    width: 270px;
    height: 300px;
    margin-left: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 0 30px 0 30px;
}
.my-slider-2 .item > .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;s
}

.my-slider-2 .item > .background > div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.my-slider-2 > .owl-carousel.owl-theme > div.owl-dots {
  position: absolute;
  right: 60px;
  top: 14px;
}

.my-slider-2 > .owl-carousel.owl-theme > div.owl-dots > div.owl-dot > span {
  transition: width 0.5s;
  width: 10px;
  height: 10px;
  background-color: white;
}

.my-slider-2 > .owl-carousel.owl-theme> div.owl-dots> div.owl-dot.active> span {
  width: 35px;
  background-color: #ffc300;
}