/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

/* 라이브러리 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}



.img-box>img {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.margin-0-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0>* {
  line-height: normal;
}

.width-30px {
  width: 30px;
}

.width-35px {
  width: 35px;
}

.width-40px {
  width: 35px;
}

.width-45px {
  width: 35px;
}

.width-50px {
  width: 50px;
}

.width-80px {
  width: 80px;
}

.width-100px {
  width: 100px;
}

.width-100p {
  width: 100%;
}

.width-60p {
  width: 60%;
}

.width-55p {
  width: 55%;
}

.width-50p {
  width: 50%;
}

.width-45p {
  width: 45%;
}

.width-40p {
  width: 40%;
}

.width-30p {
  width: 30%;
}

.width-35p {
  width: 35%;
}

.width-100p-except-30px {
  width: calc(100% - 30px);
}

.width-100p-except-35px {
  width: calc(100% - 35px);
}

.width-100p-except-40px {
  width: calc(100% - 40px);
}

.width-100p-except-50px {
  width: calc(100% - 50px);
}

.width-100p-except-80px {
  width: calc(100% - 80px);
}

.width-100p-except-100px {
  width: calc(100% - 100px);
}

.height-100p {
  height: 100%;
}

.height-50p {
  height: 50%;
}

.border-box {
  box-sizing: border-box;
}

.font-size-dot-8rem {
  font-size: .8rem;
}

.table-row {
  display: table;
}

.table-row.row::after {
  display: inline;
  clear: non;
}

.table-row>.cell {
  float: none;
  display: table-cell;
}

.border-red {
  border: 3px solid red;
}

/* 라이브러리 - x */
*>.flex {
  display: flex;
}

*>.flex-column-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

*>.flex-grow-1 {
  flex-grow: 1;
}

*>.flex-di-co {
  display: flex;
  flex-direction: column;
}

*>.flex-di-row {
  display: flex;
  flex-direction: row;
}


*>.flex-jc-end {
  display: flex;
  justify-content: flex-end;
}

*>.flex-jc-sa {
  display: flex;
  justify-content: space-around;
}

*>.flex-jc-sb {
  display: flex;
  justify-content: space-between;
}

*>.flex-jc-s {
  display: flex;
  justify-content: flex-start;
}

*>.flex-jc-c {
  justify-content: center;
}

*>.flex-ai-c {
  display: flex;
  align-items: center;
}

*>.flex-as-c {
  align-self: center;
}

*>.flex-row-nowrap {
  flex-direction: row;
  flex-wrap: nowrap;
}

*>.flex-row-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

*>.flex-ch-basis-0 {
  display: flex;
}

.flex-ch-basis-0>* {
  flex-basis: 0;
}

*>.flex-1-0-0 {
  flex: 1 0 0;
}

/*시작*/
.con {
  max-width: 1024px;
}

.back {
  background-color: #2ac1bc;
  width: 100%;
  height: 969px;
  overflow: hidden;
}

.back>.img-box {
  height: 969px;
  position: relative;
  overflow: hidden;
}

.back>.img-box>.cafe {
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/baemin/main_02@2x.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: bg-ani;
  animation-duration: 2s;
  animation-fill-mode: forwards;

}

@keyframes bg-ani {
  0% {
    width: 150%;
    height: 150%;
    opacity: 0;
  }

  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.six .group{
    position: relative;
    padding: 5% 5%;
    box-sizing: border-box;
}

.six .link li{
  display: inline-block;
    margin-right: 8px;
    width: auto;
}


.link2{
  margin-top: 3%;
}

.six .link li a img{
  display: inline-block;
  height: 1.5em;
}

.six .link2 li:first-child{
  width: 98px;
}

.six .footer-sns{
  margin: 5% 0 5% -2%;
}

.six .footer-sns li:first-child{
  margin-right: 0;
}

.six .footer-sns li{
  display: inline-block;
  width: 10%;
  text-align: center;
  vertical-align: middle;
  margin-right: 2%;
}

.six .info{
  font-size: 0.8em;
  color: #333333;
  line-height: 1.7em;
  position: absolute;
  bottom: 5%;
}

.six .info p{
  padding-bottom: 3%;
}

.top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}


.logo {
  display: block;
  margin: 40px 0 0 6%;
  max-width: 142px;
}

.logo>img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;

}


.first .btn {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url(https://hwanghyeonjeong.github.io/img1/pf/baemin/btn_rider.png);
  background-repeat: no-repeat;
  background-size: contain;
}


.three .ani>.road{
  position: absolute;
  bottom: 30%;
  right: 32%;
  width: 42%;
}
.three .ani>.bike{
  position: absolute;
  bottom: 26%;
  right: 25%;
  width: 42%;
}

.three.active .ani>.bike {
  bottom:0%;
  right: 7%;
  transition: bottom .8s, right .8s;
  transition-delay: .8s;
}


.four .ani {
  position: absolute;
  bottom: -30%;
  right: -5%;
  width: 85%;
  opacity: 0;
}

.four.active .ani {
  bottom:-1%;
  opacity: 1;
  transition:bottom .8s, opacity .8s;
  transition-delay: .5s;
}





.scroll {
  position: absolute;
  display: block;
  bottom: 3%;
  width: 20%;
  z-index: 100;
}

.scroll>img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}

.first {
  position: relative;
}

.first .wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}



.first .txt {
  position: absolute;
  top: 18%;
  left: 6%;
}




@media screen and (min-width: 1440px) {
  .first .wrap {
    max-width: 1024px;
  }
}

.three .ani>.road {
  position: absolute;
  bottom: 16%;
  right: 21%;
  width: 232px;
}





.app {
  position: absolute;
  bottom: 0;
  max-width: 262px;
  right: 0;
}

.app>img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}

.first .txt h1 {
  max-width: 440px;

}

img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}




.pho .wrap {
  position: relative;
  height: 100vh;
  color: #ffffff;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 6%;
}



.pho .wrap>.txt>h1 {
  padding-right: 10%;
  box-sizing: border-box;
  width: 85%;
}

.top-bar .down {
  opacity: 1;
  display: block;
  position: absolute;

}
.five .ani{
  position: absolute;
  bottom: -30%;
  right: -7%;
  width: 70%;
  opacity: 0;
}

.five.active .ani {
  bottom:-1%;
  opacity: 1;
  transition:bottom .8s, opacity .8s;
  transition-delay: .5s;
}


@media screen and (max-width: 768px) {
  .down {
    position: absolute;
    width: 45%;
    top: 19px;
    right: 0;
  }

  .first .txt>h1 {
    width: 85%;
  }
}





.pho .wrap .cont {
  font-weight: 300;
  font-size: 15px;
}

.pho .wrap>ul {
  font-size: 14px;
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  box-sizing: border-box;
  padding-right: calc(5% + 24px);
  position: relative;
  z-index: 10;
}

.second .ani {
  position: absolute;
  bottom: 30px;
  right: 10%;
  width: 80%;
  opacity: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.second.active .ani {
  right: 53%;
  transition: right .8s, opacity .8s;
  transition-delay: .8s;
  opacity: 1;
}

.second .ani>img {
  vertical-align: top;
}
.pho .wrap>.txt {
  padding-top: 32%;
}
.six .title>h1{
  width: 40%;
}
.six .link{
  overflow: hidden;
  margin: 10% 0 5%;
  width: 100%;
}


@media screen and (min-width: 768px) {
  .six .link{
    overflow: visible;
    width: 450px;
  }
  .logo {
    width: 142px;
  }

  .first .txt {
    top: 20%;
    left: 50px;
  }

  .first .txt>h1 {

    max-width: 440px;
  }

  .three .ani>.road {

    position: absolute;
    bottom: 16%;
    right: 21%;
    width: 232%;
  }

  .three .ani>.bike {

    position: absolute;
    bottom: 13%;
    right: 17%;
    width: 204px;
  }

  .pho .wrap>.txt {
    padding-top: 20%;
  }

  .pho .wrap>.txt>h1 {
    width: 65%;
  }

  .down {
    width: 200px;

  }
  .four .ani{
    width: 400px;
    right: 40px;
  }
  .five .ani{
    width: 352px;
    right: 10%;
  }

  .six .link li a img{
    display: inline-block;
    height: 30px;
  }
  .six .title>h1{
    width: 45%;
  }
  .six .link li{
    margin-right: 23px;
  }
  
  .six .link2 li:first-child{
    width: 138px;
  }
  
  .six .footer-sns li{
    width: 40px;
  }

  .six .info{
    font-size: 15px;
    position: relative;
    bottom: auto;
  }
  
  .six .info p{
    padding-bottom: 2%;
  }
}




@media screen and (min-width: 1024px) {
  .six .link{
    margin-top: 0;
  }
  .logo {
    margin-top: 60px;
    margin-left: 50px;
  }

  .top-bar {
    width: 1024px;
    min-width: 1024px !important;
    left: 50%;
    margin-left: -512px;
  }

  .sns {
    display: block !important;
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 50%;
    text-align: right;
  }

  .sns li:first-child {
    margin-right: -5px;
  }

  .sns li {
    display: inline-block;
    width: 10%;
    text-align: center;
    vertical-align: middle;
  }

  .btn {
    width: 191px;
    height: 241px;
  }

  .scroll {
    left: 50%;
  }

  .app {
    width: 262px;
  }

  .three .ani>.road {
    position: absolute;
    width: 232px;
  }

  .three .ani>.bike {
    width: 204px;
  }

  .pho .wrap {
    width: 1024px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .pho .wrap>.txt {
    padding-top: 165px;
  }

  .second .wrap>.txt>h1 {
    width: 500px;
  }

  .pho .wrap>.txt>h1>img {
    display: block;
    width: 100%;
  }

  .pho .wrap .cont {
    margin-top: 3%;
  }

  .second .ani {
    width: 600px;
    bottom: 16%;
  }

  .down {
    width: 200px;
    right: 10px;
    top: 130px;
  }
  .four .ani{
    width: 400px;
    right: 40px;
  }
  .five .ani{
    width: 352px;
    right: 10%;
  }
  .six .title{
    width: 40%;
    float: right;
  }
  .six .title>h1{
    width: 176px;
    padding-top: 0;
  }
  .six .group{
    padding-top: 12%;
    width: 1024px;
    margin: 0 auto;
    
  }
  .six .title{
    width: 40%;
    float: right;
  }

  .six .title h1{
    width: 176px;
    padding-top: 0;
  }
  .six .link{
    margin-top: 0;
  }

  .six .footer-sns{
    width: 30%;
    margin-left: -1%;
  }

  .six .footer-sns .li:first-child{
    margin-right: 0;
  }

  .six .footer-sns .li{
    margin-right: 6%;
  }
}



@media screen and (max-width: 1024px) {
  .sns {
    display: none;
  }

  .btn {
    width: 125px;
    height: 156px;
  }

  .scroll {
    left: 6%;
  }

  .app {
    width: 55%
  }

  .down {
    position: absolute;
    top: 19px;
    right: 0;
  }
}

